<script>
document.getElementById("posts").setAttribute("class", "active");
</script>
<h1>New Comment for '<%=@post.title%>'</h1>

<%= render :partial => "form" %>

<%= link_to 'Back to post', post_path(@post) %>
