.container {
  width: 830px;
  background: white; /*#7a3;*/
  margin-top: 40px;
  border: double;
}

body {
  background:#FB9517;
}

#header h1 {
  margin-top: 0.4em;
  margin-bottom: 0.3em;
  font-family: serif;
  color: #404;
}

#header h3 {
  color: #404;
  font-family: serif;
}

#header {
  text-align: center;
  background: url(/images/header-bg-3.png);
  color: #f0f;
}


#header img {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background: #fff;
}

#content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  width: 780px;
  /*margin-top: 1em;*/
  font-size: 120%;
  padding: 20px;
  background: #fff;
  border: solid;
  border-color:#FB9517; /*#FFAE54;*/
}

#content h1 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

#home_content {
 float: left;
 width: 500px;
 background: #0ff;
}

#sidebar {
  float: right;
  width: 200px;
  background: #f0f;
}


#footer {
  margin-top: 5px;
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}


/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

.navigation {
  background-color: white;
  white-space: nowrap;
  text-align: center;
}

#header .navigation {
  font-size: 130%;
}

#footer .navigation {
  padding: 0.2em;
}

/* When a <ul> has navigation class applied to it */
ul.navigation {
  margin: 0;
  padding: 0px;
}
/* When an <li> tag is within an element with class navigation */
#header .navigation li {
  background: url(/images/faded-tab-40px.png) no-repeat 0 0;
  width: 112px;
  height: 28px;
  padding: 12px 0px 0px;
  margin-right: 5px;
  margin-left: 5px;
}

.navigation li {
  display: inline-block;
  padding: 0.5em;
}

.navigation li a {
color: #404;
}

.navigation li a:visited {
  /*color: #09c;*/
  color: #404;
}

.navigation li a:hover {
  text-decoration: underline;
  color: #404;
}

#header .navigation li.active {
  font-weight: bold;
  background: url(/images/bright-tab-1.png) no-repeat 0 0;
}

/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background: #006400;
  display: block;
  width: 190px;
  text-align: center;
  padding: 20px;
  font-size: 150%;
  font-weight: bold;
}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
