<script>
document.getElementById("faq").setAttribute("class", "active");
</script>
<h1>Frequently Asked Quinces</h1>
<p>
  Here are a bunch of questions that we imagine people want to ask us all the time (and some answers too)!
</p>

