<script>
document.getElementById("posts").setAttribute("class", "active");
</script>
<h1>Recent updates</h1>

<% for post in @posts %>
  <h6><%=h post.title %></h6>
  <p>
    <%=h post.content %>
    <br />
    <%= link_to 'Comment', post %> | <%=h post.created_at%>
    <br />
    <hr>
  </p>
<% end %>

